.ui-widget-content  a {color: #fff !important;}
.ui-widget-content  a:hover {color: #4d4d4d !important;}
.ui-widget-content a.ui-state-hover {color: #4d4d4d !important;}
.ui-autocomplete {background: #000 !important; opacity:0.8 !important; z-index: 10002 !important; width: 500px !important;overflow: hidden !important; height: 200px !important; overflow-y: scroll !important}
